page-sviagens {


    #card{
        background-color: rgb(187, 187, 187);

    }

    #lista{

        background-image: url("../assets/images/fundoP3.jpg");
        background-size: 100% 100%;
        height: 180px;
    }

    #content{

        background-color: rgb(218, 214, 214);
    }


}
