// http://ionicframework.com/docs/theming/

#foto{
	height: 100px;
    width: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: 4px;
	margin-right: auto;
	box-shadow: 0 2px 13px rgba(0, 0, 0, 0.7);
}


.vazio{
	
	 color: #CCCCCC;
}

#center4{

	background-image: url("../assets/images/fundoP2.jpg");
	background-size: 100% 100%;
	width: 100%;
	height: auto;

}

#center3{
	margin-top: 120px;
	padding: 10px;
	display: flex;
	justify-content: center;
	width: 100%;

}


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
