<ion-menu [content]="content" swipeEnabled="false">

  <ion-content>

  <div >
      <div id="center4">

          <div> 
      
            <ion-row>
              <div id="center3">
      
                      <img id="foto" menuClose src={{image}} (click)="openPage(2)" />
      
              <ion-title   *ngIf="userProfile2?.firstName || userProfile2?.lastName || userProfile2?.email  ">  
      
                  <h6 >
                  {{userProfile2?.firstName}} {{userProfile2?.lastName}}
                  <br>
                  {{userProfile2?.email}}
                </h6>
      
              </ion-title>
            </div>
            </ion-row> 

            </div>
      
          </div>

          <ion-list no-lines>
    
              <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        
                <ion-icon color="dark" name="{{p.icon}}" item-start></ion-icon> {{p.title}}
        
                 </button>
        
              <ion-item>
        
                   {{status}}
                    <ion-icon  [color]="cor" name="disc" item-end (click)="Alert(ativo)"></ion-icon>
        
              </ion-item>
        
            </ion-list>
  </div>
    
</ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>